<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel ="icon" type ="image/x-icon" href="/static/favicon.ico"></link:r>
    <title>flask</title>
</head>
<body>
    <p>baseです ここにヘッダーが来たりします</p>
    {% block content %}
    {% endblock %}
    <p class="footer">baseです　ここにフッダーが来たりします。</p>
</body>
</html>